<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Shrofile is a fun and casual way of sharing your professional self with the world!!">
<meta name="keywords" content="Shrofile, reset password, confirm password, Video resume, video portfolio, share your video, professional video">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Shrofile - Reset Password</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/resetpassword.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/font-awesome.min.css">
<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
<div class="logmod">

  <!-- CONTAINER -->
  <div class="container-fluid">
    <div class="row">
      <div class="navbar bdbtlgt">
          <div class="navbar-header wd100per">
              <a href="index.html" class="loginlogo">
                <img src="images/shrofile-logo-red.png" alt="Shrofile">
              </a>
          </div>
      </div>
    </div>
  </div>
  <!-- /END CONTAINER -->

  <div class="logmod__wrapper">
    <div class="logmod__container">
         <div class="logmod__tab-wrapper">
              <div class="logmod__tab lgm-2">
                <h2>Reset Password</h2>
                   <form accept-charset="utf-8" action="/reset-password?access_token=<%= accessToken %>" method="post">
                        <div class="card">
                             <div class="input-container">
                                  <input type="password" id="Password" name="password" required="required"/>
                                  <label for="Password">Password</label>
                                  <div class="bar"></div>
                             </div>
                             <div class="input-container">
                                  <input type="password" id="ConfirmPassword" name="confirmation" required="required"/>
                                  <div class="hide-password">Show</div>
                                  <label for="ConfirmPassword">Confirm Password</label>
                                  <div class="bar"></div>
                             </div>
                        </div>
                        <div class="simform__actions">
                             <input class="sumbit" name="commit" type="submit" value="Reset Password" />
                        </div>
                   </form>
                   <div class="clearfix"></div>
              </div>
         </div>
    </div>
  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
